urxvt.font: xft:Monaco:size=18
URxvt.letterSpace: 0.4
!urxvt.lineSpace: -4
urxvt.scrollBar: false

urxvt*depth: 32
urxvt*background: rgba:0000/0000/0200/fa00
urxvt*foreground: #d1d4e0

URxvt*color10: #70f1a7


! tab mode
URxvt.perl-ext-common: font-size,my-extension,resize-font
! next line is used to disable some undesired urxvt keystrokes  in emacs
URxvt.perl-ext:

URxvt.font-size.step:   4

! URxvt.keysym.C-minus:    font-size:decrease
! URxvt.keysym.C-equal:     font-size:increase
